{% extends "layouts/base.html" %}
{% load static %}

{% block title %} List/Search {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link type="text/css" href="{% static 'app_assets/css/jquery.dataTables.min.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

<!-- FORM START --><form action="" method="post">{% csrf_token %}
<table id="param_list" class="display" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>VIEW/EDIT</th>
            <th>LAB</th>
            <th>RESEARCHER(S)</th>
            <th>EXPERIMENT TYPE</th>
            <th>SESSION ID</th>
            <th class="no-sort">DOWNLOAD</th>
        </tr>
    </thead>
    <tbody>
     {% if output is not True %}
         {% for row in output %}
            <tr>
                <td>{{ row.id }}</td>
                <td><span class="font-weight-bold"><a href="{% url 'create_param' %}?id={{ row.id }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
</svg></a></span></td>
                <td><span class="font-weight-normal">{{ row.PERF_LAB }}</span></td>
                <td><span class="font-weight-normal"><a href="mailto:{{ row.EMAIL }}">{{row.NAME}}</a></span></td>
                <td><span class="font-weight-bold">{{ row.EXP_TYPE }}</span></td>
                <td><span class="font-weight-normal">{{ row.SESSION_ID }}</span></td>
                <td><span class="font-weight-normal"><a href="{% static 'data/' %}{{ row.UUID }}.nwb"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
</svg></a></span></td>
            </tr>
         {% endfor %}
     {% endif %}
    </tbody>
</table>

<!-- FORM END --></form>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="application/javascript" src="{% static 'app_assets/js/jquery.dataTables.min.js' %}"></script>
    <script>
        $('#param_list').dataTable( {
            "order": [],
            "columnDefs": [ {
              "targets"  : 'no-sort',
              "orderable": false
            },
                {"className": "dt-center", "targets": "_all"}
            ]
        });
    </script>
{% endblock javascripts %}
